<h1>Base page</h1>
  <% if user_signed_in? %>
    <p> You are currently logged in as <%= current_user %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>
    <p> <%= link_to('Start tracking me !', set_tracking_path) %> </p>
  <% else %>
    <p>
    <%= link_to('Login', new_user_session_path) %>
    <%= link_to('Sign up', new_user_registration_path) %>
    </p>
  <% end %>
  <p> <%= link_to('Show me how you can recognise me !', show_tracking_path) %> </p>

