<h1> List of tracking methods </h1>

<p> <%= link_to('Back', root_path) %> </p>

<table>
  <tr>
    <th> Tracking method </th>
    <th> Does this track someone ? </th>
    <% if current_user %>
      <th> Is it you ? </th>
    <% end %>
    <th> Set at : </th>
  </tr>
  <% @methods.each do |key,method| %>
    <tr>
      <td> <%= method[:name] %> </td>
      <td> <%= method[:worked] %> </td>
      <td> <%= method[:correct] %> </td>
      <% if current_user %>
        <td> <%= method[:created_at] %> </td>
      <% end %>
    </tr>
  <% end %>
</table>
