<h1> List of tracking methods </h1>

<p> <%= link_to('Back', root_path) %> </p>
<p>
  Here you can see a list of the tracking methods, and which ones allowed us to track your browser.
  For confidentiality reasons, we do not display which user each method allowed us to track, unless it is the currently logged in user.
</p>

<table>
  <tr>
    <th> Tracking method </th>
    <th> Does this track someone ? </th>
    <% if user_signed_in? %>
      <th> Is it you ? </th>
    <% end %>
    <th> Set at : </th>
  </tr>
  <% @methods.each do |key,method| %>
    <tr>
      <td> <%= method[:name] %> </td>
      <td> <%= method[:worked] %> </td>
      <% if user_signed_in? %>
        <td> <%= method[:correct] %> </td>
      <% end %>
      <td> <%= method[:created_at] %> </td>
    </tr>
  <% end %>
</table>
