<h1> List of tracking methods </h1>

<p> <%= link_to('Back', root_path) %> </p>

<table>
  <tr>
    <th> Tracking method </th>
    <th> Working ? </th>
    <th> Set at : </th>
  </tr>
  <% @methods.each do |key,method| %>
    <tr>
      <td> <%= method[:name] %> </td>
      <td> <%= method[:worked] %> </td>
      <td> <%= method[:created_at] %> </td>
    </tr>
  <% end %>
</table>
<script>
if (localStorage.getItem("tracker") == "<%= current_user.local_storages.last %>") {
  rowList = document.getElementsByTagName("tbody")[0].children
  for(i = 0; i < rowList.length; i++) {
    if(/Local Storage/.test(rowList[i].innerText)) {
      rowList[i].children[1].innerHTML = "true"
      rowList[i].children[2].innerHTML = "<%= current_user.local_storages.last.created_at %>"
      break;  
    }
  }
}
</script>
