<h1> Let's get tracked ! </h1>
<p>
  We're about to set up different tracking methods in your browser.<br/>
  Some of these will expire after a certain amount of time, how long do you want them to last ?
  If you don't really know, the 5 minutes default is probably a good value.<br/>
  Please also note that because of the way we implement HSTS tracking, setting it up twice without waiting for the first one to expire will mix them and fail to recognize you.
</p>
<%= form_with scope: :set_tracking, url: set_tracking_path, local: true do |form| %>
  <div class="flex-container">
    <table>
      <tr>
        <th colspan=2>Which methods ?</th>
      </tr>
      <tr>
        <td><%= form.label     :track_first_party_cookie, 'First-party Cookie' %></td>
        <td><%= form.check_box :track_first_party_cookie, checked: true %></td>
      </tr>
      <tr>
        <td><%= form.label     :track_local_storage, 'Local Storage' %></td>
        <td><%= form.check_box :track_local_storage, checked: true %></td>
      </tr>
      <tr>
        <td><%= form.label     :track_hsts, 'HSTS Cache' %></td>
        <td><%= form.check_box :track_hsts, checked: true  %></td>
      </tr>
      <tr>
        <td><%= form.label     :track_etag, 'ETag Cache' %></td>
        <td><%= form.check_box :track_etag, checked: true %></td>
      </tr>
  <% if Settings.hpkp_enabled %>
      <tr>
        <td><%= form.label     :track_hpkp, 'HPKP' %></td>
        <td><%= form.check_box :track_hpkp, checked: true %></td>
      </tr>
  <% end %>
      <tr>
        <td><%= form.label     :track_redirection, 'Redirection cache' %></td>
        <td><%= form.check_box :track_redirection, checked: true %></td>
      </tr>
    </table>

    <table>
      <tr>
        <th colspan=2>For how long ?</th>
      </tr>
      <tr>
        <td><%= form.number_field :minutes, value: 5 %></td>
        <td><%= form.label :minutes, 'minutes' %></td>
      </tr>
      <tr>
        <td><%= form.number_field :hours, value: 0 %></td>
        <td><%= form.label :hours, 'hours' %></td>
      </tr>
      <tr>
        <td><%= form.number_field :days, value: 0 %></td>
        <td><%= form.label :days, 'days' %></td>
      </tr>
    </table>
  </div>
  <p>
    <%= form.submit 'Start tracking me !'%>
  </p>
<% end %>
<p> <%= button_to('Back', root_path, method: :get) %> </p>
