<meta http-equiv="refresh" content="2000; url=<%= root_path %>"/>

<% if @local_storage %>
  <script>localStorage.setItem("tracker", "<%= @local_storage.to_s %>")</script>
<% end %>

<div style="display:none">
  <% if @hsts_domain_list %>
    <% @hsts_domain_list.each do |domain| %>
      <img alt="HSTS tracking" src="https://<%= domain %>/set_tracking/set_hsts_header/<%= @duration %>"/>
    <% end %>
  <% end %>

  <% if @etag %>
    <img alt="ETag tracking" src="<%= etag_path %>"/>
  <% end %>

  <% if @redirection %>
    <img alt="Redirection tracking" src="<%= redirection_path %>"/>
  <% end %>

</div>

<p>
  We just finished setting up your tracking, you should now be redirected to the <%= link_to('home path', root_path) %>.
</p>
